# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csv_file = os.path.join('..', 'output_data', 'city_data.csv')

cities_df = pd.read_csv(csv_file)
cities_df

,City,City ID,Country,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed
0,2155415,New Norfolk,AU,147.0587,-42.7826,66.51,41,28,4.00
1,3833367,Ushuaia,AR,-68.3000,-54.8000,48.20,71,75,8.05
2,2206939,Bluff,NZ,168.3333,-46.6000,57.99,79,77,15.01
3,964432,Port Alfred,ZA,26.8910,-33.5906,69.01,96,98,9.40
4,2163355,Hobart,AU,147.3294,-42.8794,67.82,40,40,19.57
...,...,...,...,...,...,...,...,...,...
570,2246901,Oussouye,SN,-16.5469,12.4850,71.56,88,0,5.55
571,2319257,Wamba,NG,8.6000,8.9333,71.56,72,55,1.77
572,4031742,Egvekinot,RU,-179.1667,66.3167,5.54,97,100,1.48
573,3870282,Talcahuano,CL,-73.1167,-36.7167,55.40,94,90,5.75
574,2136825,Isangel,VU,169.2667,-19.5500,78.80,94,75,7.25

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = cities_df[['Latitude', 'Longitude']]
humidity = cities_df['Humidity']

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False)
heat_layer.max_intensity = 100
heat_layer.point_radius = 5


fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_df = cities_df[(cities_df['Temperature'] >= 75) & (cities_df['Temperature'] <= 90)]
ideal_df = ideal_df[ideal_df['Wind Speed'] <= 10]
ideal_df = ideal_df[ideal_df['Cloudiness'] <= 10]
ideal_df = ideal_df[ideal_df['Humidity'] <= 70]
hotel_df = ideal_df
hotel_df

,City,City ID,Country,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed
6,1649150,Bengkulu,ID,102.2655,-3.8004,85.80,63,7,1.88
23,2075265,Busselton,AU,115.3333,-33.6500,75.24,41,0,7.00
65,1151528,Pa Sang,TH,98.9394,18.5262,89.08,51,0,1.14
170,3932145,Pisco,PE,-76.2167,-13.7000,76.15,65,0,3.44
213,1279154,Ajra,IN,74.2000,16.1167,77.00,29,0,3.44
243,1714733,Dingle,PH,122.6711,10.9995,85.73,69,5,6.89
298,2186111,Ngunguru,NZ,174.5000,-35.6167,75.00,67,8,10.00
319,1244926,Hambantota,LK,81.1185,6.1241,84.20,65,0,6.91
426,1253237,Verāval,IN,70.3667,20.9000,83.48,37,0,9.62
484,286245,Sur,OM,59.5289,22.5667,80.58,41,0,5.08
533,2441447,Maïné Soroa,NE,12.0241,13.2114,77.67,12,5,7.81

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df['Hotel Name'] = ''
hotel_df

,City,City ID,Country,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed,Hotel Name
6,1649150,Bengkulu,ID,102.2655,-3.8004,85.80,63,7,1.88,
23,2075265,Busselton,AU,115.3333,-33.6500,75.24,41,0,7.00,
65,1151528,Pa Sang,TH,98.9394,18.5262,89.08,51,0,1.14,
170,3932145,Pisco,PE,-76.2167,-13.7000,76.15,65,0,3.44,
213,1279154,Ajra,IN,74.2000,16.1167,77.00,29,0,3.44,
243,1714733,Dingle,PH,122.6711,10.9995,85.73,69,5,6.89,
298,2186111,Ngunguru,NZ,174.5000,-35.6167,75.00,67,8,10.00,
319,1244926,Hambantota,LK,81.1185,6.1241,84.20,65,0,6.91,
426,1253237,Verāval,IN,70.3667,20.9000,83.48,37,0,9.62,
484,286245,Sur,OM,59.5289,22.5667,80.58,41,0,5.08,
533,2441447,Maïné Soroa,NE,12.0241,13.2114,77.67,12,5,7.81,

In [7]:
for index, row in hotel_df.iterrows():
    try:
        base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

        params = {
        'keyword': 'hotel',
        'radius': 5000,
        'key': g_key,
        }

        latitude = row['Latitude']
        longitude = row['Longitude']

        params['location'] = f"{latitude}, {longitude}"

        hotel_data = requests.get(base_url, params=params).json()
        
        hotel_df.loc[index, 'Hotel Name'] = hotel_data['results'][0]['name']
        
    except IndexError:
        
        hotel_df.loc[index, 'Hotel Name'] = "Nan"
        
hotel_df

,City,City ID,Country,Longitude,Latitude,Temperature,Humidity,Cloudiness,Wind Speed,Hotel Name
6,1649150,Bengkulu,ID,102.2655,-3.8004,85.80,63,7,1.88,Mercure Bengkulu
23,2075265,Busselton,AU,115.3333,-33.6500,75.24,41,0,7.00,The Sebel Busselton
65,1151528,Pa Sang,TH,98.9394,18.5262,89.08,51,0,1.14,Nan
170,3932145,Pisco,PE,-76.2167,-13.7000,76.15,65,0,3.44,HOSTAL MIRAMAR
213,1279154,Ajra,IN,74.2000,16.1167,77.00,29,0,3.44,Hotel Paradise
243,1714733,Dingle,PH,122.6711,10.9995,85.73,69,5,6.89,Nan
298,2186111,Ngunguru,NZ,174.5000,-35.6167,75.00,67,8,10.00,Quality Hotel Oceans Tutukaka
319,1244926,Hambantota,LK,81.1185,6.1241,84.20,65,0,6.91,The Peacock Beach Hotel Hambantota
426,1253237,Verāval,IN,70.3667,20.9000,83.48,37,0,9.62,Sarovar Portico Somnath
484,286245,Sur,OM,59.5289,22.5667,80.58,41,0,5.08,Sur Plaza Hotel
533,2441447,Maïné Soroa,NE,12.0241,13.2114,77.67,12,5,7.81,Nan

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[['Latitude', 'Longitude']]

In [9]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))